<!DOCTYPE html>
    <head>
        <title>Web Scraper</title>
    </head>
    <body>
        <h1>Review Scraper...</h1>
        <form  align="center" method="POST" id="urls" >
            <input align="centre" id="name" type="text" placeholder="Enter Movie Name" name="name" size="60" >
              <input align="centre" id="im" type="url" placeholder="Enter ImDb Url" name="im" size="120" >
              <input align="centre" id="rt" type="url" placeholder="Enter Rotten Tomatoes Url" name="rt" size="120" >
              <input align="centre" id="bm" type="url" placeholder="Enter BookMyShow Url" name="bms"  size="120" >
              <input align="centre" id="num" type="number" placeholder="Enter no of pages per Site" name="num"  size="120" >
      
              <button type="submit" form="urls" value="submit">Submit</button>
        </form>
    </body>
</html>