<!DOCTYPE html>
    <head>
        <title>Wuphf!</title>
    </head>
    <body>
        <h1>Movie Review Scraper...</h1>
        <form  align="center" method="POST" id="urls" class="center-screen">
            <input align="centre" id="name" type="text" placeholder="Enter Movie Name" name="name" size="100" >
            <input align="centre" id="year" type="number" placeholder="Enter the year" name="year" size="50">
            <input align="centre" id="num" type="number" placeholder="Relative number of comments" name="num"  size="200" >

              <button type="submit" form="urls" value="submit">Submit</button>
        </form>

    </body>
 
</html>

