<!DOCTYPE html>
    <head>
        <title>Web Scraper</title>
    </head>
    <body>
        <h1>Movie Review Scraper...</h1>
        <form  align="center" method="POST" id="urls" >
            <input align="centre" id="name" type="text" placeholder="Enter Movie Name" name="name" size="100" >
              <input align="centre" id="im" type="url" placeholder="Enter ImDb Url" name="im" size="200" >
              <input align="centre" id="rt" type="url" placeholder="Enter Rotten Tomatoes Url" name="rt" size="200" >
              <input align="centre" id="bm" type="url" placeholder="Enter BookMyShow Url" name="bms"  size="200" >
              <input align="centre" id="num" type="number" placeholder="Enter number of comment pages per site" name="num"  size="200" >

              <button type="submit" form="urls" value="submit">Submit</button>
        </form>

    </body>
 
</html>
